<md-sidenav-container [class.m2app-dark]="isDarkTheme">


    <md-sidenav #sidenav mode="side" class="app-sidenav mat-elevation-z15" style="border-right-style: none;">
        <table>
            <tr>
                <div *ngIf="_router.url == '/'"><td><span class="smallTextBottom"><a [routerLink]="['/1']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">description</i>My Resume</a></span></td></div>
                <div *ngIf="_router.url != '/'"><td><span class="smallTextBottom"><a [routerLink]="['/']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">description</i>My Resume</a></span></td></div>
            </tr>
            <tr>
                <div *ngIf="_router.url == '/personalInterests'"><td><span class="smallTextBottom"><a [routerLink]="['/2']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">directions_bike</i>Personal Interests</a></span></td></div>
                <div *ngIf="_router.url != '/personalInterests'"><td><span class="smallTextBottom"><a [routerLink]="['/personalInterests']" target="_top" style="color: blue"><i class="material-icons md-18 iconBottom">directions_bike</i>Personal Interests</a></span></td></div>
            </tr>
        </table>
    </md-sidenav>


    <md-toolbar color="primary" style="height: 4em;">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        <img class="mdCardImg md-card-sm-image" src="app/app.component/MarinBioPic2.png">

        <span class="textBottom xxLargerFont">&nbsp;Marin Bloise</span>

        <span class="app-toolbar-filler"></span>
        <span class="smallTextBottom"><i class="material-icons md-18 iconBottom">home</i>&nbsp;261 Swedesford Rd., Malvern, PA 19355&nbsp;<a href="tel:610-308-1130" style="color: white"><i class="material-icons md-18 iconBottom">phone_iphone</i>610-308-1130</a>
            &nbsp;<a href="mailto:meb339@scarletmail.rutgers.edu?Subject=Resume" target="_top" style="color: white"><i class="material-icons md-18 iconBottom">email</i><span style="font-size: xx-small">meb339@scarletmail.rutgers.edu</span></a></span>
        <!--button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button-->
    </md-toolbar>

    <div class="app-content">

        <md-card>
            <h1 class="h1Blue">Summary of Qualifications</h1>
            <md-card>
                <ul>
                    <li class="bullet11">Communications major at Rutgers University &mdash; Junior with 3.2 GPA</li>
                    <li class="bullet11">Strong leadership and communication skills with experience in sales and team leadership</li>
                    <li class="bullet11">NCAA Division 1 athlete &mdash; diver in the Big 10 conference</li>
                    <li class="bullet11">Leader and captain of track team in Junior and Senior years in High School</li>
                </ul>
            </md-card>
        </md-card>

        <md-card>
            <h1 class="h1Blue">Experience</h1>

            <md-card>
                <table>
                    <tr>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">5/2016 – 8/2016</span></td>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">ESF Camps</span></td>
                        <td style="width: 600px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Exton, PA</span></td>
                    </tr>
                </table>
                <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Camp Counselor</h2>
                <ul>
                    <li class="bullet11">
                        Built leadership and organizational skills working as a camp counselor specializing in recreational sports management.
                    </li>
                    <li class="bullet11">
                        Led multiple activities where athletes developed skills across many sports with the goal of developing into multi-sport athletes.
                    </li>
                    <li class="bullet11">
                        Leveraged my experience and credibility as an NCAA D1 athlete to grow my leadership and communication skills.
                    </li>
                </ul>
            </md-card>

            <md-card>
                    <table>
                        <tr>
                            <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">5/2015 - 8/2015</span></td>
                            <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Vector Marketing</span></td>
                            <td style="width: 600px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Paoli, PA</span></td>
                        </tr>
                    </table>
                <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Marketing</h2>
                <ul>
                        <li class="bullet11">
                            Leveraged my education as a communications major in this marketing position where I perfected my demonstration techniques, marketing skills, and learned sound business strategies.
                        </li>
                        <li class="bullet11">
                        I managed my own sales schedule and built my client list through direct marketing. I received many referrals from existing clients as I built my book of business.
                        </li>
                </ul>
            </md-card>

            <md-card>
                <table>
                    <tr>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">5/2014 – 8/2014</span></td>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_city</i>&nbsp;<span class="bigPositionHeader">Grace Bible Camp</span></td>
                        <td style="width: 600px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">Chester, NJ</span></td>
                    </tr>
                </table>
                <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Camp Counselor</h2>
                <ul>
                    <li class="bullet11">
                        Responsible for managing the activities and safety of multiple age groups.
                    </li>
                    <li class="bullet11">
                        Led activities such as recreational sports and arts/crafts.
                    </li>
                    <li class="bullet11">
                        Built leadership and communication skills through coaching and development of camp participants.
                    </li>
                </ul>
            </md-card>
        </md-card>

        <md-card>
            <h1 class="h1Blue">Education</h1>
            <md-card>
                <table>
                    <tr>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">date_range</i>&nbsp;<span class="bigPositionHeader">2015 - 2019</span></td>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">school</i>&nbsp;<span class="bigPositionHeader">Rutgers University</span></td>
                        <td style="width: 800px;"><i class="material-icons md-18 iconNearBottom">location_on</i>&nbsp;<span class="bigPositionHeader">New Brunswick, NJ</span></td>
                    </tr>
                </table>
                <h2 class="h1Italics"><i class="material-icons md-18 iconPositionHeader">work</i>Communications</h2>
                <ul>
                    <li class="bullet11">
                        Overall GPA 3.2
                    </li>
                    <li class="bullet11">
                        Communications Major GPA 3.5
                    </li>
                </ul>
            </md-card>
        </md-card>

        <!--md-card>
            <md-radio-button name="symbol">Alpha</md-radio-button>
            <md-radio-button name="symbol">Beta</md-radio-button>
            <md-radio-button name="symbol" disabled>Gamma</md-radio-button>
        </md-card>

        <md-card class="app-input-section">
            <md-input placeholder="First name"></md-input>

            <md-input #nickname placeholder="Nickname" maxlength="50">
                <md-hint align="end">
                    {{nickname.characterCount}} / 50
                </md-hint>
            </md-input>

            <md-input>
                <md-placeholder>
                    <i class="material-icons app-input-icon">android</i> Favorite phone
                </md-placeholder>
            </md-input>

            <md-input placeholder="Motorcycle model">
        <span md-prefix>
          <i class="material-icons app-input-icon">motorcycle</i>
          &nbsp;
        </span>
            </md-input>
        </md-card>

        <md-card>
            <md-list class="app-list">
                <md-list-item *ngFor="let food of foods">
                    <h3 md-line>{{food.name}}</h3>
                    <p md-line class="demo-secondary-text">{{food.rating}}</p>
                </md-list-item>
                <md-list-item *ngFor="let product of products | async">
                    <h3 md-line>{{product.title}}</h3>
                    <p md-line class="demo-secondary-text"><span *ngIf="productId">id: {{productId}}</span></p>
                </md-list-item>
            </md-list>
        </md-card>

        <md-card>
            <md-spinner class="app-spinner"></md-spinner>
            <md-spinner color="accent" class="app-spinner"></md-spinner>
        </md-card>

        <md-card>
            <label>
                Indeterminate progress-bar
                <md-progress-bar
                        class="app-progress"
                        mode="indeterminate"
                        aria-label="Indeterminate progress-bar example"></md-progress-bar>
            </label>

            <label>
                Determinate progress bar - {{progress}}%
                <md-progress-bar
                        class="app-progress"
                        color="accent"
                        mode="determinate"
                        [value]="progress"
                        aria-label="Determinate progress-bar example"></md-progress-bar>
            </label>
        </md-card>

        <md-card>
            <md-tab-group>
                <md-tab label="Earth">
                    <p>EARTH</p>
                </md-tab>
                <md-tab label="Fire">
                    <p>FIRE</p>
                </md-tab>
            </md-tab-group>
        </md-card>

        <md-card>
            <md-icon>build</md-icon>
        </md-card>

        <md-card>
            <button md-button [md-menu-trigger-for]="menu">
                MENU
            </button>
        </md-card>

        <md-menu #menu="mdMenu">
            <button md-menu-item>Lemon</button>
            <button md-menu-item>Lime</button>
            <button md-menu-item>Banana</button>
            <button md-menu-item  *ngFor="let product of products | async" (click)="select(product.title)" [disabled]="product.disabled">{{product.title}}</button>
        </md-menu>

        <md-card>
            <p>Last dialog result: {{lastDialogResult}}</p>
            <button md-raised-button (click)="openDialog()">DIALOG</button>
            <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
        </md-card-->

    </div>

</md-sidenav-container>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab style="background-color:#ffcc00;" (click)="openDialog()"><md-icon class="material-icons md-18 iconWhite">mail outline</md-icon></button>
</span>